html, body {
    height: 100%;
}

body {
    background: #0099F7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #F11712, #0099F7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #F11712, #0099F7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Coiny', cursive;
    text-align: center;
}

h1 {
    font-size: 50px;
    text-transform: uppercase;
    margin: auto;
    padding: auto;
}

h2 {
    font-size: 40px;
    text-transform: capitalize;
    margin: auto;
    padding: auto;
}

p {
    display: block;
    list-style-type: decimal;
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
}

.player {
    font-size: 15px;
    line-height: 0.3;
    justify-items: center;
}

.dice {
    display: none;
}

.button {
    display: flex;
    margin: auto;
    width: 11%;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    justify-self: center;
    outline: none;
    color: white;
    background-color: crimson;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

button:hover {
    background-color: purple;
}

button:active {
    background-color: blue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}